footer {
  background: $footer-color;
  position: relative;
  padding: 20px 0;

  a, a:hover, a:visited { 
    color: $button-text-color;
  }
}

footer a{
  color: $button-text-color;
}

.footer-link {
  display: block;
  text-decoration: none;
}
