.friend-page{
  h2 {
    margin-top: 20px;
  }

  b {
    font-size: 18px;
  }

  .sub-title {
    margin-bottom: 20px;
  }

  .friend-image {
    height:300px;
    background-size: cover;
  }

  .description {
    padding-top: 80px;
  }

  .health {
    padding: 0;
    bottom: -60px;
  }

  .sickness {
    width: 40px;
    height: 40px;
  }

  .given {
    color: #007745;
    font-size:40px;
  }

  .required {
    color: #FF1616;
    font-size: 45px;
  }

  .donation .given-p{
    margin: 40px 0 0 0;
    line-height: 20px;
    font-size: 30px;
  }

  .donation-button {
    background-color: $light-grey;
    display: inline-block;
    color: $link-colors;
    text-align: center;
    padding: 7px 20px;
    text-decoration: none;
  }

  .donation-cta-wrapper{ 
    text-align: center
  }
}

/**
*
* Styling From SM
*/
@media screen and (min-width: map-get($grid-breakpoints, "md") ) {
  .friend-page{
    .description {
      padding-top: 0;
    }

    .health {
      position: relative;
      padding: 0;
      bottom: 0;
    }

    .pet-image {
      width: 50%;
      height:300px;
      padding-left: 10px;
      float: right;
      object-fit: cover;
    }
  }
}